@model VidlyMyVersion.ViewModels.CustomersListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>


@if (Model.Customers.Count == 0)
{
    <p>There are no customers</p>
}
else
{
    <table class="table table-­‐bordered table-­‐hover">
        <thead>
            <tr>
                <th>
                    Customer
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>
                        <a href="Customers/details/@customer.Id">@customer.Name</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}
