@model IEnumerable<VidlyMyVersion.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@Html.ActionLink("New Movie", "New", "movie", new { @class = "btn btn-primary" })

<table class="table table-­‐bordered table-­‐hover">
    <thead>
        <tr>
            <th>
                Movie
            </th>
            <th>
                Genre
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>
                    <a href="movies/edit/@movie.Id">@movie.Name</a>
                </td>
                <td>
                    @movie.Genre.Name
                </td>
            </tr>
        }

    </tbody>
</table>